.taste {
    background-color: #282828;
    min-height: 856px;
    padding: 100px 0px 100px 0px;
    color: #ffff;

    &__line {
        margin: 0 auto;
        border-top: 1px solid #fff;
        width: 160px;
        margin-top: 40px;
    }

    &__border {
        padding: 60px 187px;
        border: solid 1px #fff;
    }

    &__descr {
        margin-top: 40px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
    }
    
    &__glass { 
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
}
